{% extends "base.html" %}
{% block content %}

<div class="container_details">

{% for museum in all_museums %}

<div class="full_item">

  <div class="details">
    <div class="the_image">

      <h4>{{museum.name}}</h4>
      <p>{{museum.address}}</p>

      <form action="/museums/{{museum.id}}/edit" method="GET">
        <input type="submit" value="Edit">
      </form>
    
    <br>

      <form action="/museums/{{museum.id}}/delete" method="POST">
        <input type="submit" value="Delete">
      </form>

</div>
  </div>
</div>
  <hr>
{% endfor %}

</div>

{% endblock %}
